.nav-mb{
	display: none;
}
.d-none{
    display: none;
}
.d-slide-none{
    display: none !important;
}
@media screen and (max-width: 414px) {
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		width: 100% !important;
	}
	.col-sm-3{
		width: 25% !important;
	}
	.col-sm-9{
		width: 75% !important;
	}
	.menu{
		display: none;
	}
	.nav-mb{
		display: block;
	}
	.text-sm-right{
		text-align: right;
	}
    .p-m-16{
        padding: 0 16px !important;
    }
    /* Trang chu */
    .feature-art{
        padding: 48px 0 !important
    }
    .feature-art h1{
        margin-top: 24px !important;
    }
    .d-m-none{
        display: none;
    }
    .feature-art-ct{
        display: block;
    }
    .feature-art-ct .art{
        height: 100%;
    }
    .feature-img-art{
        height: 500px !important;
    }
    .d-m-block{
        display: block !important;
    }
    .all-big-card{
        height: 100%;
    }
    .all-big-card>.col-6{
        padding: 0;
    }
    .card-big{
        height: 126px;
        margin-bottom: 24px;
    }
    .align-s-m-top{
        align-self: flex-start !important;
    }
}

