@charset "utf-8";
/* CSS Document */
@font-face
{
	font-family: dosis-semibold;
	src:url("../font/font dosis/Dosis-SemiBold.ttf");
}
@font-face
{
	font-family: dosis-regular;
	src:url("../font/font dosis/Dosis-Regular.ttf");
}
@font-face
{
	font-family: dosis-medium;
	src:url("../font/font dosis/Dosis-Medium.ttf");
}
@font-face
{
	font-family: dosis-bold;
	src:url("../font/font dosis/Dosis-Bold.ttf");
}
@font-face
{
	font-family: yeseve;
	src: url("../font/YesevaOne-Regular.ttf");
}
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header
{
	background-color:#464646;
}
section
{
	/* margin-bottom: 80px; */
}
.section1
{
	/* margin-bottom: 48px; */
}
.section2
{
	/* margin-bottom: 32px; */
}
.container
{
	max-width: 1070px;
	margin: 0 auto;
	padding: 0 12px;
}
.container-lg{
	max-width: 1312px;
	margin: 0 auto;
	padding: 0 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.browse
{
	text-align: center;
	background-color:#464646 ;
	color:#F1F0EB ;
	height: 50px;
	padding-top: 16px;
}
.icontha
{
	color: #F1F0EB;
	background-color:#464646 ;
	height: 50px;
}
.icontha img
{
	padding-top: 8px;
}
.follow
{
	background-color: #464646;
	color:#F1F0EB; 
}
.message
{
	background-color: #464646;
	color:#F1F0EB;
}
.artist
{
	background-color:#F1F0EB;
	color: #464646;
	height: 21px;
	width: 67px;
	font-family: dosis-medium;
	font-size: 12px;
	text-align: center;
}
.hg{
	width: 1px;
	height: 30px;
}
.row64
{
	display: flex;
	flex-wrap: wrap;
}
.row
{
	display: flex;
	flex-wrap: wrap;
}
.row1
{
	display: flex;
	flex-wrap: wrap;
	background-color: #464646;
	padding-top: 4px;
	padding-bottom: 4px;
}
.iconright ion-icon
{
	font-size: 32px;
	color: #F1F0EB;
	text-align: center;
	margin-bottom: 30px;
}
.iconright
{
	background-color: #464646;
	padding-top: 30px;
	width: 60px;
	margin-top: 125px;
}
.form
{
	background-color: antiquewhite;
	height: 660px;
	padding-top: 60px;
}
.signup
{
	text-align: center;
}
.signup a
{
	text-decoration: none;
	color: #464646;
}
.signup a :hover
{
	font-family: dosis-bold;
	color: #F1F0EB;
}
.taongay
{
	text-align: center;
	margin-top: 120px;
}
.quenmk
{
	text-align: right;
	margin-right: 48px;
}
.dangky input
{
	height: 30px;
	margin-bottom: 56px;
	margin-right: 48px;
	margin-left: 48px;
}
input[type="text"] {
      width:100%;
	  height: 31px;
      box-sizing: border-box;
      outline:none;
	  border: none;
	  border-bottom: 3px solid #464646 ;
      padding: 8px 8px;
      transition:0.6s ease-in-out;
	  font-size:18px;
	  font-family: dosis-regular;
	background-color: none;
    }
tr
{
	margin-bottom: 64px;
}
header{
	padding: 32px 0;
}
.menu
{
	display: flex;
	font-family: dosis-medium;
	justify-content: flex-end;
}
.menu a
{
	text-decoration: none;
	color: #F1F0EB;
	border-bottom: 3px solid transparent;
	font-size: 16px;
	margin-left: 96px;
}
.menu a:hover
{
	border-bottom: 3px solid #F1F0EB;
}

.cty{
	width: 75px;
	height: 75px;
	background-color: burlywood;
}
.card
{
	background-color: beige;
	height: 358px;
}
.img-card
{
	height: 242px;
	background-color: aqua;
}
.img-card1
{
	height: 165px;
	background-color: aqua;
}
.card4
{
	background-color: beige;
	height: 320px;
}
.button a
{
	text-decoration: none;
	color: #F1F0EB;
	margin-top: 16px;
}
.button
{
	width: 180px;
	height: 50px;
	background-color: #464646;
}
.button1
{
	width: 189px;
	height: 50px;
	background-color: #464646;
}
.button1 a
{
	text-decoration: none;
	color: #F1F0EB;
	margin-top: 16px;
}
.button2
{
	width: 207px;
	height: 50px;
	background-color: #464646;
}
.button2 a
{
	text-decoration: none;
	color: #F1F0EB;
	margin-top: 16px;
}
.button3
{
	width: 151px;
	height: 40px;
	background-color: #464646;
	margin-left: 153px;
	margin-top:48px;
}
.button3 a
{
	text-decoration: none;
	color: #F1F0EB;
}
.anhcanhan
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: aqua;
	position: relative;
	top: 50%;
}
.pc-2{
	height: 350px;
	background-color: beige;
	margin-left: 32px;
}
.pc-1
{
	height: 730px;
	background-color: aqua;
}
.banner
{
	padding: 32px 0;
}
.banner-content{
	height: 520px;
	background-color: grey;
	border-radius: 10px;
	overflow: hidden;
}
.quangcao
{background-color: aqua;
	height: 245px;
	
}
.text-profolio a:hover
{
	color:#464646;
	background-color: #F1F0EB;
	font-family: dosis-bold;
}
.text-profolio a
{
	text-decoration: none;
	color:#F1F0EB ;
}
.cover
{
	padding: 0px 184px 80px;
}
.column{
	width: 33.33%;
	min-height:380px;
	max-height: 490px;
	max-width: 336px;
	float: left;
}
.wrapper1
{
	margin:32px 16px;
}
.wrapper1 img
{
	width: 100%;
}
.wrapper2
{
	margin:32px 16px 32px 0px;
}
.wrapper2 img{
	width:100%
}
.box1
{
	background-color:aqua;
	height: 220px;
}
.search{
	/* padding: 48px 0; */
}
.find{
	background-color: grey;
	position: relative;
}
.find img{
	position: absolute;
	top: 10px;
	width: 30px;
	height: 30px;
}
.find input{
	border: none;
	background-color: grey;
	padding: 20px 0;
	height: 52px;
}
.find1{
	background-color: #464646;
	height: 50px;
	width: 624px;
}
.text-card1
{
	margin: 24px;
}
.card2
{
	height: 120px;
	background-color: aquamarine;
}
.anh{
	background-color: aquamarine;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	left: 50px;
	top:30px;
	position: relative;
}
.gvien
{
	width: 244px;
	height:310px;
	background-color: antiquewhite;
	position: absolute;
	margin-right: 32px;
}
.tengvien
{
	position: relative;
}
.anh1{
	background-color:azure;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	left: 50px;
	top:30px;
	position: relative;
}
* {box-sizing:border-box}
/* thiết lập style cho slideshow container */
 .slideshow-container {
   max-width: 1440px;
   position: relative;
   margin: 48px 214px 0 184px;
 }
/* ẩn hình ảnh cho phần tử slideshow */
 .mySlides {
   display: none;
 }
/* thiết kế nút mũi tên*/
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -60px;
   padding: 16px 24px;
   color: #464646;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
/* thiết kế nút mũi tên next nằm phía bên phải */
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .prev:hover, .next:hover {
   background-color:#464646 ;
   color: #F1F0EB;
 }
/* thiết lập style  nút tròn điều khiển*/
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active, .dot:hover {
   background-color: #717171;
 }
/* tạo hiệu ứng chuyển động fade */
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
* {box-sizing:border-box}
/* thiết lập style cho slideshow container */
 .slideshow-container1 {
   max-width: 1440px;
   position: relative;
   margin: 0 auto;
 }
/* ẩn hình ảnh cho phần tử slideshow */
 .mySlides1 {
   display: none;
 }
/* thiết kế nút mũi tên*/
 .prev1, .next1 {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -48px;
   padding: 16px 24px;
   color: #464646;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
/* thiết kế nút mũi tên next nằm phía bên phải */
 .next1 {
   right: 216px;
   border-radius: 3px 0 0 3px;
 }
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
 .prev1:hover, .next1:hover {
   background-color: rgba(0,0,0,0.8);
 }
/* thiết lập style  nút tròn điều khiển*/
 .dot1 {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.active1, .dot1:hover {
   background-color: #717171;
 }
/* tạo hiệu ứng chuyển động fade */
 .fade1 {
   -webkit-animation-name: fade1;
   -webkit-animation-duration: 1.5s;
   animation-name: fade1;
   animation-duration: 1.5s;
 }
@-webkit-keyframes fade1 {
   from {opacity: .4}
   to {opacity: 1}
 }
@keyframes fade1 {
   from {opacity: .4}
   to {opacity: 1}
 }

 footer{
    background-color: #333333;
    padding: 60px 0;
}
.nav-mb{
	display: none;
}

@media screen and (max-width: 390px) {
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
		width: 100% !important;
	}
	.col-sm-3{
		width: 25% !important;
	}
	.col-sm-9{
		width: 75% !important;
	}
	.menu{
		display: none;
	}
	.nav-mb{
		display: block;
	}
	.text-sm-right{
		text-align: right;
	}
}










